<div class="px-8 mt-5">
	<p>maptiler works!</p>
	<p>Note: If map are not being loaded while using localhost try using http://127.0.0.1:port instead</p>
	<!-- <ng-container *ngIf="mapImg !== {}">
		{{mapImg}}
		<img width="500" height="500" src="{{mapImg}}" *ngIf="mapImg">
	</ng-container> -->
	<div id="map"></div>
	
	<!-- <mgl-map 
		[style]="'https://api.maptiler.com/maps/streets/style.json?key=qFH3wrqzJKJoGG0W5FcE'"
		[zoom]="[1]"
		[center]="[120.97826153039932, 14.59489140757233]"
	>
		<mgl-control mglNavigation position="top-left"></mgl-control>
	</mgl-map> -->
</div>


